/* Navigation Bar */
nav {
    background-color: lightsalmon;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    display: block;
    color: black;
    text-align: left;
    padding: 1rem;
    text-decoration: underline;
    font-size: 18px;
}

nav a:hover {
    background-color: bisque;
}

/* Body Background */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./pexels-butterfly.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Common Section Styling */
.section-container {
    background-color: bisque;
    padding: 1rem;
    border: 0.25rem solid lightsalmon;
    border-radius: 10px;
    max-width: 85%;
    margin: 40px auto;
}

/* Centered Content (About Section) */
.section-container.centered {
    text-align: center;
}

/* Profile Image */
.profile-image {
    height: 300px;
    max-width: 300px;
    height:auto;
    border-radius: 50%;
}
ul, ol {
    margin-bottom: 0;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}
/* Footer */
footer.footer {
    background-color: lightsalmon;
    padding: 1.5rem;
    text-align: left;
    color: black;
    font-weight: bold;
}
